      <div class="block">
        <div class="container">
          <img class="logosmg" alt="logo designisvital" src="http://res.cloudinary.com/design-is-vital/image/upload/v1476101591/LOGO5-06_lmqkuj.png">
          <br>
          <h1>Une agence proche de ses clients</h1>
          <p>Au coeur de notre culture : apprendre et développer des méthodes</p>
        </div>
      </div>    

<div class="container">
        <div class="prerow">
              <h1>Vos projets n’attendent pas. Vos questions non plus.</h1>
              <p>Nous sommes disponibles pour vous répondre.</p>
        </div>

        <div class="methodesux">
        <div class="row">
          <div class="col-md-4">
            <img src="http://res.cloudinary.com/design-is-vital/image/upload/v1476028405/geo_ivbfz5.png" alt="geoffrey bouquet" class="img-rounded">
            <h2>Geoffrey BOUQUET</h2>
            <p><b>Digital Projects Manager</b></p><br>
          </div>
          <div class="col-md-4">
            <img src="http://res.cloudinary.com/design-is-vital/image/upload/v1476028411/julie_hvuont.png" alt="julie lebraud" class="img-rounded">
            <h2>Julie LEBRAUD</h2>
            <p><b>Chief Design Officer</b></p><br>
          </div>
          <div class="col-md-4">
            <img src="http://res.cloudinary.com/design-is-vital/image/upload/v1476028405/flo_ahyr5z.png" alt="florian cecchellero" class="img-rounded">
            <h2>Florian CECCHELLERO</h2>
            <p><b>UX Designer & CEO</b></p><br>
          </div>
        </div>
      </div>


        <div style="background-color:#F9F9F9;" class="prerow">
              <h1>Nous recrutons des talents en design et en développement</h1><br>
              <p><a class="typeform-share btn btn-primary btn-lg" href="https://florianceo1.typeform.com/to/qn9Y4V" data-mode="1" target="_blank">POSTULER MAINTENANT</a></p>

        </div>
        <br>
  

        <div class="prerow">
              <h1>A short story</h1>
        </div>
        <div class="blockstory">
        <p>Design is Vital est une agence créative et digitale qui a vu le jour suite à l’association de 3 amis entrepreneurs. Florian et Geoffrey, associés sur la startup de social shopping buywer.com et Julie ex-designer graphique au service de l’identité visuelle aux Galeries Lafayette Haussmann.Suite à nos diverses expériences auprès des marques et des sociétés nous sommes partis d’un constat : l’identité visuelle et le développement digital sont primordiaux pour la réussite d’une marque ou d’une société et ceci peut-être complexe pour certaines startups. Chez Design is Vital tous les projets sont intéressants et enrichissants, nous mettons donc en place des solutions aussi bien pour les petites startups que pour les PME.</p>
        </div>

        <hr>

        <div class="prerow">
              <h1>Notre Philosophie </h1>
        </div>
        <div class="blockstory">
        <h3>Réflexion centrée utilisateur. </h3>  
        <p>Pas de panique. ​Design is vital accompagne les entreprises à atteindre leurs objectifs digitaux en adoptant un design et une expérience qui convertissent. Vous avez déjà entendu parler d’UX, d’UI, de growth hacking.. mais appliquez-vous les bonnes techniques à votre business pour créer de la croissance grâce à votre site ou application ?</p>
        </div>

        <div class="blockstory">
        <h3>Responsive Design.</h3>  
        <p>Aujourd’hui 43% du trafic est mobile. Depuis les changements récents de l’algorithme Google, dé-référençant les sites non adaptables sur mobile, nous proposons uniquement des sites responsive design.Nous réalisons le design et le développement d’applications mobile pour nos clients ainsi que des sites adaptables sur tablette et mobile.</p>
        </div>

        <div class="blockstory">
        <h3>Accompagner et satisfaire TOUS nos clients</h3>  
        <p>Des start-ups à budget restreint aux PME exigentes. Nous réalisons aussi bien des sites sur WordPress (vitrine) et Shopify (e-commerce) à petits budgets que des sites sur-mesures, applicatifs et complexes. Nous nous efforçons de développer des partenariats avec les meilleurs professionnels du secteur afin d’accompagner de façon optimale nos clients.</p>
        </div>

        <hr>
        <div class="prerow">
              <h1>Parlez-nous de votre projet ! </h1>
              <br>
              <p><a class="btn btn-primary btn-lg" href="<%= contact_path %>" role="button">NOUS CONTACTER</a></p>
              <br>
              <p> et rejoignez-nous sur <span style="color:#1F98FF;font-weight:bolder"><i class="fa fa-slack" aria-hidden="true"></i> Slack</span> pour échanger sur votre projet avec toute l'équipe
              
        </div>
  </div>


 <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
</script>