 <div class="container">
      <div class="row">
        <div class="col-md-4 collines">
            <hr style="border-top: 2px solid #FFED00;width:20px;margin-left:0px;">
            <!--<p class="lines">Nouveau bureaux</p>-->
             <p class="lines">Nouvelle identité</p>
              <p class="lines"><strong>Nouveau site...</strong></p>
        </div>
        <div class="col-md-4 centercol">
          <%= image_tag("logocs.png", :class => "img")%>
          <p class="subtitle">Agence <strong>Digitale</strong> <br>spécialisée en <strong>UX Design</strong></p>
          <h1 class="title">Coming <span class="color">Soon<span></h1>
        </div>
        <div class="col-md-4 rightcol">
          <ul class="social">
              <hr class="hrsocial">
              <li><p>SUIVEZ-NOUS SUR</p></li><br>
              <li><a href="http://facebook.com/designisvital"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/designisvital/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://fr.pinterest.com/designisvital75/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/design_is_vital"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
           </ul>
        </div>
      </div>
    </div><!-- /.container -->
