      <div class="block">
        <div class="container">
          <br>
          <h1>Notre méthode</h1>
          <p>Nous appliquons une méthodologie spécifique</p>
        </div>
      </div>    

        <div class="container">
        <div class="prerow">
              <h1>Un projet bien mené est un projet bien compris</h1>
        </div>


        <div class="rowmethode">
        <div class="row">
          <div class="col-md-4">
            <h2>Nous commençons toujours avec un workshop</h2>
            <p>Parce que le brief est aussi importante que le design lui-même, nous allons le définir et l’écrire avec vous. Cet atelier de 3 heures nous permettra de comprendre votre produit, vos utilisateurs et votre entreprise. A la fin, tout le monde aura une vision claire de la façon dont le produit doit être conçu et beaucoup de temps aura été sauvé .</p><br>
            <p><a class="btn btn-default" href="#" role="button">VOIR PLUS</a></p>
          </div>
          <div class="col-md-4">
            <h2>Nous continuions en définissant une expérience utilisateur fluide</h2>
            <p>Sur la base de wireframes, nous définissons l’architecture et le workflow à travers un prototype. Nous créons l’expérience utilisateur ciblée pour soutenir l’objectif principal de votre produit. Le prototype deviendra notre support pour itérer sur l’UX, ainsi qu’un outil de communication avec les développeurs.</p><br>
            <p><a class="btn btn-default" href="#" role="button">VOIR PLUS</a></p>
          </div>
          <div class="col-md-4">
            <h2>Ensuite, nous réalisons des interfaces utilisateur claires</h2>
            <p>Une fois que nous avons créé une expérience utilisateur forte, nous allons produire les interfaces utilisateurs finaux. Couleurs, typographies, textes, images et pictos : tout sera pris en compte pour rendre le produit super facile à comprendre et à utiliser.</p><br><br>
            <p><a class="btn btn-default" href="#" role="button">VOIR PLUS</a></p>
          </div>
        </div>
        </div>

        <hr style="width:500px;">
        <h4 style="font-size:20px;text-align:center;line-height:80px;"><i>« Penser l’expérience avant le produit. »</i></h4>
        <hr style="width:500px;">

        <div class="prerow">
              <h1>Design is Vital met en place plusieurs méthodes d’UX design <br>pour répondre aux exigences de vos projets.</h1>
        </div>

        <div class="methodesux">
        <div class="row">
          <div class="col-md-4">
            <img src="1.png" alt="" class="avatar">
            <h2>Shadowing</h2>
            <p>Consiste à observer les utilisateurs en situation réelle d’utilisation « dans leur ombre » et faire ressortir les vrais usages et les blocages d’utilisation.</p><br>
          </div>
          <div class="col-md-4">
            <img src="2.png" alt="" class="avatar">
            <h2>Questionnaire d’évaluation subjective</h2>
            <p>Permet de comprendre le point de vue subjectif des utilisateurs sur un service. Il peut varier de 10 à 30 questions.</p><br>
          </div>
          <div class="col-md-4">
            <img src="3.png" alt="" class="avatar">
            <h2>Architecture de l’information</h2>
            <p>Permet d’identifier la meilleure disposition de l’information de manière à ce que les utilisateurs trouvent facilement ce qu’ils cherchent et naviguent aisément sur le site ou l’application.</p><br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <img src="4.png" alt="" class="avatar">
            <h2>Wireframe</h2>
            <p>Permet d’avoir une première disposition d’éléments visuels sans entrer dans la conception graphique et dans les détails.</p><br>
          </div>
          <div class="col-md-4">
            <img src="5.png" alt="" class="avatar">
            <h2>Tests utilisateurs</h2>
            <p>Permet de faire ressortir les problèmes d’ergonomie sur un produit digital auprès d’utilisateurs.</p><br>
          </div>
          <div class="col-md-4">
            <img src="6.png" alt="" class="avatar">
            <h2>Prototyping</h2>
            <p>Il s’agit d’une maquette très réaliste du rendu final une fois développer permettant de réaliser des tests.</p><br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <img src="7.png" alt="" class="avatar">
            <h2>Audit ergonomique</h2>
            <p>Consiste à analyser chaque page et à évaluer un produit digital sur son ergonomie. (norme ISO 9241, norme AFNOR Z67 pour les interfaces logicielles, audit heuristique…)</p><br>
          </div>
          <div class="col-md-4">
            <img src="8.png" alt="" class="avatar">
            <h2>Tri par carte</h2>
            <p>Méthode permettant aux utilisateurs cibles de regrouper des cartes (équivalentes aux différentes pages du site). Permet de faire ressortir les doublons, ou les manques éventuels.</p><br>
          </div>
          <div class="col-md-4">
            <img src="9.png" alt="" class="avatar">
            <h2>Personnas</h2>
            <p>Le personas est un utilisateur type qui utiliserait la solution. Il s’agit de le faire vivre et d’imaginer des scénarios d’usages. Il peut y avoir plusieurs personnas sur une solution.</p><br>
          </div>
        </div>

        </div>
        <hr>
        <div class="prerow">
              <h1>Convaincu par notre méthode ?</h1>
              <br>
              <p><a class="btn btn-primary btn-lg" href="<%= contact_path %>" role="button">CHALLENGEZ-NOUS !</a></p>
        </div>


        </div>

        </div>