$maincolor:#FFED00;

/* Large desktops and laptops */
@media (min-width: 1200px) {

	.bodyprojet {
		margin-right:5px;
		margin-left: 5px;
		box-sizing:border-box;
		max-width: 1250px;

		.row {
			.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
				padding:0px;
			}
		}

		a {
			border:none !important;
			text-decoration: none !important;
		}

		.thumbnail {
			border:none !important;
			padding:0 !important;
			position: relative;
			background: #000;
			margin: 5px;
			border-radius: 0 !important;


			&:hover {
				img {
					opacity: 0.5;
				}
				
				span.text {
					visibility: visible;
					opacity: 1;
				}
			}

			img {
				max-height: 100%;
	    		max-width: 100%;
	    		-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}

			span.text {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top:82%;
				left: 30%;
				font-weight: 700;
				font-family:"Source Sans", sans-serif;
				font-size: 18px;
				color:#FFF !important;
				text-transform: uppercase;
				 -webkit-transition: .8s ease-in-out;
				transition: .8s ease-in-out;
			}

			.glyphicon {
				padding-right:7px; 
			}
		}
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.bodyprojet {
		margin-right:5px;
		margin-left: 5px;
		box-sizing:border-box;

		.row {
			.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
				padding:0px;
			}
		}

		a {
			border:none !important;
			text-decoration: none !important;
		}

		.thumbnail {
			border:none !important;
			padding:0 !important;
			position: relative;
			background: #000;
			margin: 5px;
			border-radius: 0 !important;


			&:hover {
				img {
					opacity: 0.5;
				}
				
				span.text {
					visibility: visible;
					opacity: 1;
				}
			}

			img {
				max-height: 100%;
	    		max-width: 100%;
	    		-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}

			span.text {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top:82%;
				left: 30%;
				font-weight: 700;
				font-family:"Source Sans", sans-serif;
				font-size: 18px;
				color:#FFF !important;
				text-transform: uppercase;
				 -webkit-transition: .8s ease-in-out;
				transition: .8s ease-in-out;
			}

			.glyphicon {
				padding-right:7px; 
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.bodyprojet {
		margin-right:5px;
		margin-left: 5px;
		box-sizing:border-box;

		.row {
			.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
				padding:0px;
			}
		}

		a {
			border:none !important;
			text-decoration: none !important;
		}

		.thumbnail {
			border:none !important;
			padding:0 !important;
			position: relative;
			background: #000;
			margin: 5px;
			border-radius: 0 !important;


			&:hover {
				img {
					opacity: 0.5;
				}
				
				span.text {
					visibility: visible;
					opacity: 1;
				}
			}

			img {
				max-height: 100%;
	    		max-width: 100%;
	    		-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}

			span.text {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top:82%;
				left: 30%;
				font-weight: 700;
				font-family:"Source Sans", sans-serif;
				font-size: 18px;
				color:#FFF !important;
				text-transform: uppercase;
				 -webkit-transition: .8s ease-in-out;
				transition: .8s ease-in-out;
			}

			.glyphicon {
				padding-right:7px; 
			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) { 
	.bodyprojet {
		margin:0;
		box-sizing:border-box;

		.row {
			max-width: 100%;
			margin: 0;

			.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
				padding:0px;
				margin:0;
				max-width: 100%;
			}
		}

		a {
			border:none !important;
			text-decoration: none !important;
		}

		.thumbnail {
			border:none !important;
			padding:0 !important;
			position: relative;
			background: #000;
			margin: 0px;
			border-radius: 0 !important;
			right:0;
			left:0;


			&:hover {
				img {
					opacity: 0.5;
				}
				
				span.text {
					visibility: visible;
					opacity: 1;
				}
			}

			img {
				max-height: 100%;
	    		width: 100%;
	    		-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}

			span.text {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top:82%;
				left: 30%;
				font-weight: 700;
				font-family:"Source Sans", sans-serif;
				font-size: 18px;
				color:#FFF !important;
				text-transform: uppercase;
				 -webkit-transition: .8s ease-in-out;
				transition: .8s ease-in-out;
			}

			.glyphicon {
				padding-right:7px; 
			}
		}
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.bodyprojet {
		margin:0 !important;
		padding:0;
		

		.row {
			max-width: 100%;
			margin: 0;

			.col-lg-4.col-md-4.col-sm-6.col-xs-12 {
				padding:0px;
				margin:0 !important;
				max-width: 100%;
			}
		}

		a {
			border:none !important;
			text-decoration: none !important;

		}

		.thumbnail {
			border:none !important;
			padding:0 !important;
			position: relative;
			background: #000;
			margin: 0px !important;
			left:0;
			right:0;
			border-radius: 0 !important;

			&:hover {
				img {
					opacity: 0.5;
				}
				
				span.text {
					visibility: visible;
					opacity: 1;
				}
			}

			img {
				max-height: 100%;
	    		max-width: 100%;
	    		-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
				overflow: hidden;
			}

			span.text {
				display: none;
			}

			.glyphicon {
				display: none;
			}
		}
	}
}


