/*@import "bourbon";
@import url('css_index/_list.scss');
@import url('css_index/_logosbar.scss');
@import url('css_index/_navbar.scss');
@import url('css_index/_cssmethodepage.scss');
@import url('css_index/_wrapper.scss');
@import url('css_index/_jumbotron.scss');
@import url('css_index/_cards.scss');
@import url('css_index/_avatar.scss');
@import url('css_index/_blockmethode.scss');
@import url('css_index/_row.scss');
@import url('css_index/_rowmethode.scss');
@import url('css_index/_prerow.scss');
@import url('css_index/_prerow2.scss');
@import url('css_index/_agence.scss');
@import url('css_index/_mentionslegales.scss');
@import url('css_index/_footer.scss');
@import url('css_index/_projetshome.scss');
@import url('css_indexprojets/_show.scss');
@import url('css_indexprojets/_bodyprojet.scss'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('css_index/_comingsoon.scss');
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


/* Large desktops and laptops */
@media (min-width: 1200px) {

	html, body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		font-weight: 200;
		margin:8px;
		background-color: #FFF;
		z-index:10;
		position: relative;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	html, body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		font-weight: 200;
		margin:8px;
		background-color: #FFF;
		z-index:10;
		position: relative;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	html, body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		font-weight: 200;
		margin:8px;
		background-color: #FFF;
		z-index:10;
		position: relative;
	}

}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html, body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		font-weight: 200;
		background-color: #FFF;
		z-index:10;
		position: relative;
		margin:0px;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	html, body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		font-weight: 200;
		background-color: #FFF;
		z-index:10;
		position: relative;
		margin:0px;
	}
}





