/* Large desktops and laptops */
@media (min-width: 1200px) {

  html, body {
    font-family: 'Open Sans', sans-serif !important;
    position:relative;
    height:100%;
    margin:0 !important;
  }

  .container {
    text-align: center;
    padding:0;
    margin-left: 0;
    margin-right: 0;
  }

  .row {
    margin:0 0 0 50px;
    padding:0;
    width:100%;
  }

  .rightcol {
    position:absolute;
    bottom:50px;
    right:50px;
  }

  .centercol {
    padding-top: 150px;
    text-align:center;
  }

  .subtitle {
    font-size: 18px;
    margin: 0 0 30px 0 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .img {
    margin-bottom:70px !important;
    width:200px;
    height: auto;
  }

  .title {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
  }

  span.color {
    color:#FFED00 !important;
  }

  .col-md-4 {
    padding-left:0 !important;
    padding-right: 0 !important;
  }

  .collines {
    position:relative;
    top:50px;
    left:0px;
    text-transform: uppercase;
  }


  p {
    text-align: left;
    color: #000;
    padding-left: 0px;
  }

  .social {
    margin-top:50vh;
    padding:0;
    text-align: right;

  }

  li {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding:3px;
  }

  a {
    color: #FFED00 !important;
    font-size: 20px;
    opacity: 1;
  }

  a:hover {
    color:#FFED00 !important;
    opacity: 0.8;
  }

  .hrsocial {
   border-top: 2px solid #FFED00;
   width:20px;
   margin-right:0px;
  }
}



/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  body {
    font-family: 'Open Sans', sans-serif !important;
  }

  .container {
    text-align: center;
    padding:30px 0px 30px 0px;
    height:100%;
  }

  .row {
    margin:0px;
  }

  .rightcol {
    padding-top: 0px;
    position:relative;
    top:-100px;
  }

  .centercol {
    padding-top: 0px;
    position:relative;
    top:-50px;
  }

  .subtitle {
    margin-bottom:60px !important;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 30px;
  }

  .collines {
    text-transform: uppercase;
  }


  .img {
    margin-bottom:50px !important;
    width:200px;
    height: auto;
  }

  .title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
  }

  span.color {
    color:#FFED00 !important;
  }

  .col-md-4 {
    padding-left:0;
    padding-right: 0;
    width:100%;
  }


  p {
    text-align: left;
    color: #000;
    padding-left: 20px;
  }

  .social {
    margin-top:0;
    padding:0;
    text-align: right;
    display:block;
  }

  li {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding:3px;
  }

  a {
    color: #FFED00 !important;
    font-size: 20px;
    opacity: 1;
  }

  a:hover {
    color:#FFED00 !important;
    opacity: 0.8;
  }

  .hrsocial {
   border-top: 2px solid #FFED00;
   width:20px;
   margin-right:0px;
  }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

body {
    font-family: 'Open Sans', sans-serif !important;
  }

  .container {
    text-align: center;
    margin-top:120px;
  }

  .subtitle {
    margin-bottom:40px !important;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 30px;
  }


  .img {
    margin-bottom:60px !important;
    width:200px;
    height: auto;
  }


  .title {
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
  }

  span.color {
    color:#FFED00 !important;
  }

  .col-md-4 {
    padding-left:0;
    padding-right: 0;
  }

  .collines {
   display:none;
  }

  .social {
    position:relative;
    margin-top:10vh;
    margin-left:0;
    margin-right: 0;
    padding:0;
    display: block;
  }

  li {
    text-decoration: none;
    display: inline-block;
    padding:8px;
  }

  a {
    color: #FFED00 !important;
    font-size: 26px;
    opacity: 1;
  }

  a:hover {
    color:#FFED00 !important;
    opacity: 0.8;
  }

  .hrsocial {
    display:none;
  }
}



/* Portrait phones and smaller */
@media (max-width: 767px) {

body {
    font-family: 'Open Sans', sans-serif !important;
  }

  .container {
    text-align: center;
    margin-top:70px;
  }

  .subtitle {
    margin-bottom:40px !important;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 30px;
  }


  .img {
    margin-bottom:60px !important;
    width:180px;
    height: auto;
  }

  .title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
  }

  span.color {
    color:#FFED00 !important;
  }

  .col-md-4 {
    padding-left:0;
    padding-right: 0;
  }

  .collines {
   display:none;
  }

  .social {
    position:relative;
    margin-top:10vh;
    margin-left:0;
    margin-right: 0;
    padding:0;
    display: block;
  }

  li {
    text-decoration: none;
    display: inline-block;
    padding:8px;
  }

  a {
    color: #FFED00 !important;
    font-size: 26px;
    opacity: 1;
  }

  a:hover {
    color:#FFED00 !important;
    opacity: 0.8;
  }

  .hrsocial {
    display:none;
  }
}

