$maincolor:#FFED00;
$textcolor:#FFF;

/* MEDIA QUERY */

/* Large desktops and laptops */
@media (min-width: 1200px) {

	.jumbotron {
		position: relative;
		top:20%;
		left:0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		height: 95vh;	
		border-radius: 0 !important;
		line-height: 50px;
		margin-bottom: 0;
		background: rgba(51,51,51,0.6);
		z-index: -1;
		/* background: linear-gradient(-190deg, rgba(12,31,63,0.82) 0%, rgba(40,178,255,0.6) 80%), url("http://unsplash.it/1280/700/?image=912"); */
	
	/*.jumbotron {
		box-sizing: border-box;
		top: 0px !important;
		background-repeat: no-repeat;
		height: 95vh;	
		border-radius: 0 !important;
		line-height: 50px;
		margin-bottom: 0;
		background: rgba(51,51,51,0.6);
		z-index: -101;
		 background: linear-gradient(-190deg, rgba(12,31,63,0.82) 0%, rgba(40,178,255,0.6) 80%), url("http://unsplash.it/1280/700/?image=912"); */
		
		.container {
			padding-top: 180px;
			color:$textcolor;
		}


		.wrapper { 
			background: rgba(51,51,51,0.6);
			position: absolute;
			left:0;
			padding-top:10px 30px 10px 30px;
			position: absolute;
			bottom:40%;


			h1 {
				font-size: 45px !important;
				text-align:left !important; 
				font-family: 'Oswald', sans-serif;
				letter-spacing: 3px;
				font-weight: lighter;
				padding-left: 120px;
				padding-right:40px;
				line-height: 70px;
				text-transform: uppercase;


				span.focus {
					font-weight: bolder !important;
				}
			}
		}



		.btn {
			border-radius: 50px;
			margin-top: 20px;
		}


		.logosmg {
			display: none;
		}

		.wrapper_text {
			position: absolute;
			left:0;
			bottom:20%;
			padding:10px 30px 10px 30px;
			p { 
				font-weight: lighter;
				font-size: 25px;
				margin-top: 20vh;
				padding-left: 50px;
				letter-spacing: 1px;

					span.glyphicon {
						padding-top:60px;
						padding-right: 10px ;
						padding-left: 40px ;
						color:#FFED00 ;
					}
			}
		}

	}


	#video-background { 
      	position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        min-width:100%;
        max-height: 100%;
	}

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.jumbotron {
		position: relative;
		top:20%;
		left:0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		height: 95vh;	
		border-radius: 0 !important;
		line-height: 50px;
		margin-bottom: 0;
		background: rgba(51,51,51,0.6);
		z-index: -1;
		/* background: linear-gradient(-190deg, rgba(12,31,63,0.82) 0%, rgba(40,178,255,0.6) 80%), url("http://unsplash.it/1280/700/?image=912"); */

		
		.container {
			padding-top: 150px;
			color:$textcolor;
		}


		.wrapper { 
			background: rgba(51,51,51,0.6);
			position: absolute;
			left:0;
			padding-left:30px;
			padding-top:5px;
			padding-bottom:5px;
			padding-right:30px;


			h1 {
				font-size: 40px !important;
				text-align:left !important; 
				font-family: 'Oswald', sans-serif;
				letter-spacing: 2px;
				padding-left: 40px;
				line-height: 70px;
				text-transform: uppercase;


				span.focus {
					font-weight: bolder !important;
				}
			}
		}



		.btn {
			border-radius: 50px;
			margin-top: 20px;
		}


		.logosmg {
			min-height: auto;
			max-width: 200px;
			top:30px;
			left:30px;		
			position: absolute;
		}


		.wrapper_text {
			position: absolute;
			left:0;
			padding:10px 30px 10px 0px;
			p { 
				font-weight: lighter;
				font-size: 22px;
				margin-top: 25vh;
				padding-left: 50px;
				letter-spacing: 1px;
					span.glyphicon {
						padding-top:60px;
						padding-right: 10px ;
						padding-left: 20px ;
						color:#FFED00 ;
					}
			}
		}
	}


	#video-background { 
      	position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        min-width:100%;
        max-height: 100%;
	}
	
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.jumbotron {
		position: relative;
		top:20%;
		left:0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		height: 95vh;	
		border-radius: 0 !important;
		margin-bottom: 0;
		background: rgba(51,51,51,0.6);
		z-index: -1;
		/* background: linear-gradient(-190deg, rgba(12,31,63,0.82) 0%, rgba(40,178,255,0.6) 80%), url("http://unsplash.it/1280/700/?image=912"); */
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: auto 100%;
		
		.container {
			padding-top: 180px;
			color:$textcolor;
		}


		.wrapper { 
			background: rgba(51,51,51,0.6);
			position: absolute;
			left:0;
			padding-top:5px;
			padding-bottom:5px;
			padding-right:30px;


			h1 {
				font-size: 30px !important;
				text-align:left !important; 
				font-family: 'Oswald', sans-serif;
				letter-spacing: 2px;
				padding-left: 70px;
				line-height: 50px;
				text-transform: uppercase;


				span.focus {
					font-weight: bolder !important;
				}
			}
		}



		.btn {
			border-radius: 50px;
			margin-top: 20px;
		}


		.logosmg {
			min-height: auto;
			max-width: 200px;
			top:30px;
			left:30px;		
			position: absolute;
		}


		p { 
			font-weight: lighter;
			font-size: 20px;
			position: relative;
			margin-top: 20vh;
			left:0;
			letter-spacing: 1px;
				span.glyphicon {
					padding-top:60px;
					padding-right: 10px ;
					padding-left: 50px ;
					color:#FFED00 ;
				}
		}


		.wrapper_text {
			position: absolute;
			left:0;
			padding:10px 30px 10px 0px;
			p { 
				font-weight: lighter;
				font-size: 20px;
				margin-top: 20vh;
				padding-left: 50px;

					span.glyphicon {
						padding-top:60px;
						padding-right: 10px ;
						padding-left: 20px ;
						color:#FFED00 ;
					}
			}
		}
	}


	#video-background { 
		display: none;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) { 

	.jumbotron {
		position: relative;
		top:20%;
		left:0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		height: 95vh;
		border-radius: 0 !important;
		margin: 0;
		background: rgba(51,51,51,0.6);
		z-index: -1;
		/* background: linear-gradient(-190deg, rgba(12,31,63,0.82) 0%, rgba(40,178,255,0.6) 80%), url("http://unsplash.it/1280/700/?image=912"); */
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: auto 100%;
		
		.container {
			padding-top: 110px;
			color:$textcolor;
			margin:0;
		}


		.wrapper { 
			background: rgba(51,51,51,0.6);
			position: absolute;
			left:0;
			padding-left: 40px;
			top:40%;



			h1 {
				font-size: 25px !important;
				text-align:left !important; 
				font-family: 'Oswald', sans-serif;
				letter-spacing: 2px;
				line-height: 50px;
				text-transform: uppercase;


				span.focus {
					font-weight: bolder !important;
				}
			}
		}



		.btn {
			border-radius: 50px;
			margin-top: 20px;
		}


		.logosmg {
			height: auto;
			max-width: 200px;
			bottom:120px;
			position: relative;
		}




		.wrapper_text {
			position: absolute;
			left:0;
			padding-top:0 0 0 15px;
			p { 
				font-weight: lighter;
				font-size: 17px;
				margin-top: 30vh;


					span.glyphicon {
						padding-top:10px;
						color:#FFED00 ;
						margin-left: 40px;
						margin-right:5px;
					}
			}
		}
	}


	#video-background { 
		display:none;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.jumbotron {
		position: relative;
		top:20%;
		left:0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		height:85vh;
		border-radius: 0 !important;
		margin: 0;
		background: rgba(51,51,51,0.6);
		z-index: -1;
		/* background: linear-gradient(-190deg, rgba(12,31,63,0.82) 0%, rgba(40,178,255,0.6) 80%), url("http://unsplash.it/1280/700/?image=912"); */
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: auto 100%;
		
		.container {
			padding-top: 180px;
			color:$textcolor;
			margin: 0;
		}


		.wrapper { 
			background: rgba(51,51,51,0.6);
			position: absolute;
			left:0;
			padding-left: 18px;



			h1 {
				font-size: 22px !important;
				text-align:left !important; 
				font-family: 'Oswald', sans-serif;
				letter-spacing: 2px;
				line-height: 45px;
				text-transform: uppercase;


				span.focus {
					font-weight: bolder !important;
				}
			}
		}



		.btn {
			border-radius: 50px;
			margin-top: 20px;
		}


		.logosmg {
			height: auto;
			max-width: 180px;
			top:5%;
			position: absolute;
		}



		.wrapper_text {
			position: absolute;
			padding:0 0 0 15px;
			left:0;
			p { 
				font-weight: 200;
				font-size: 17px;
				margin-top: 25vh;
				text-align: left;

					span.glyphicon {
						padding-top:10px;
						padding-right: 5px ;
						color:#FFED00 ;
						margin-left: 0;
					}
			}
		}
	}


	#video-background { 
		display:none;
	}	
}

















