$maincolor:#1F98FF;
$textcolor:#FFF;

/* Large desktops and laptops */
@media (min-width: 1200px) {

	.block {
		height: 49vh;	
		width: 100%;
		left:0 auto;
		right:0 auto;
		line-height: 50px;
		display: flex;
		align-items: center;
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: 100% auto ;

		.container {
			color:$textcolor;
			font-weight: bold;
			text-align:center; 

			.logosmg {
				display: none;
			}
		}
	
		a {
			color:$textcolor;
			background-color: $maincolor;
			border:none;
			opacity: 0.8;

			&:hover {
				color:$textcolor;
				opacity: 1;
			}
		}


		h1 {
			font-size: 35px;
			font-weight: 100;
		}


		p {
			font-weight: lighter;
			font-size: 18px;
		}

		.btn {
			border-radius: 50px;
			font-size: 12px !important;
			padding: 15px 35px;
		}
	}
}





/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.block {
		height: 49vh;	
		width: 100%;
		left:0 auto;
		right:0 auto;
		line-height: 50px;
		display: flex;
		align-items: center;
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: 100% auto ;


		.container {
			color:$textcolor;
			font-weight: bold;
			text-align:center; 

			.logosmg {
				height: auto;
				width: 200px;
				margin-top: 60px;
				position: absolute;
				z-index: 1000;
				top:-30px;
				left:30px;
			}
		}

		a {
			color:$textcolor;
			background-color: #1F98FF;
			border:none;
			opacity: 0.8;

			&:hover {
				color:$textcolor;
				opacity: 1;

			}
		}

		h1 {
			font-size: 35px;
			font-weight: 100;

		}

		p {
				font-weight: lighter;
				font-size: 18px;
		}

		.btn {
			border-radius: 50px;
			font-size: 12px !important;
			padding: 15px 35px;
		}		
	}	
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 

	.block {
		height: 49vh;	
		width: 100%;
		left:0 auto;
		right:0 auto;
		line-height: 50px;
		display: flex;
		align-items: center;
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: 100% auto ;

		.container {
			color:$textcolor;
			font-weight: bold;
			text-align:center; 
				
			.logosmg {
				height: auto;
				width: 150px;
				margin-top: 60px;
				position: absolute;
				z-index: 1000;
				top:-30px;
				left:30px;
			}
		}

		a {
			color:$textcolor;
			background-color: #1F98FF;
			border:none;
			opacity: 0.8;

			&:hover {
				color:$textcolor;
				opacity: 1;
			}
		}

		 h1 {
			font-size: 35px;
			font-weight: 100;
		}

		p {
			font-weight: lighter;
			font-size: 18px;
		}

		.btn {
			border-radius: 50px;
			font-size: 12px !important;
			padding: 15px 35px;
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.block {
		height: 49vh;	
		width: 100%;
		left:0 auto;
		right:0 auto;
		line-height: 30px;
		display: flex;
		align-items: center;
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: auto 100% ;

		.container {
			color:$textcolor;
			font-weight: bold;
			text-align:center; 

			.logosmg {
				height: auto;
				width: 150px;
				position: relative;
				z-index: 1000;
				left:0;
			}
		}

		a {
			color:$textcolor;
			background-color: #1F98FF;
			border:none;
			opacity: 0.8;

			&:hover {
				color:$textcolor;
				opacity: 1;
			}
		}

		 h1 {
			font-size: 27px;
			font-weight: 100;

		}

		p {
			font-weight: lighter;
			font-size: 15px;
		}

		.btn {
			border-radius: 50px;
			font-size: 12px !important;
			padding: 15px 35px;
		}
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

		.block {
		height: 49vh;	
		width: 100%;
		left:0 auto;
		right:0 auto;
		line-height: 30px;
		display: flex;
		align-items: center;
		background: linear-gradient(-190deg, rgba(51,51,51,0.6) 0%, rgba(51,51,51,0.6) 80%), url("https://hd.unsplash.com/photo-1463320697897-897fc554409a"); 
		background-size: auto 100% ;

		.container {
			color:$textcolor;
			font-weight: bold;
			text-align:center; 

			.logosmg {
				height: auto;
				width: 150px;
				position: relative;
				z-index: 1000;
				left:0;
			}
		}

		a {
			color:$textcolor;
			background-color: #1F98FF;
			border:none;
			opacity: 0.8;

			&:hover {
				color:$textcolor;
				opacity: 1;
			}
		}

		 h1 {
			font-size: 27px;
			font-weight: 100;

		}

		p {
			font-weight: lighter;
			font-size: 15px;
		}

		.btn {
			border-radius: 50px;
			font-size: 12px !important;
			padding: 15px 35px;
		}
	}

}