$primarycolor:#FFF;
$secondarycolor:#FFED00 ;
/* Large desktops and laptops */
@media (min-width: 1200px) {

	.footer {
		height:40vh;
		margin-top: 0px;
		background-color: #FFFFFF;
		color:#292929;
		text-align: left !important;
		position: relative;



		.container {
			.row {
				position: absolute;
				z-index: 1;
				padding-top: 20px;
				width: 90%;

				.col-xs-6.col-sm-3 { 
						
					.logofooter {
						width: 110px;
						height: auto;
					}

					p {
						text-align: left !important;
						opacity: 0.9;
						font-size: 15px;
						font-weight: 200;
					}

					ul.foot {
						line-height: 30px;
						margin-left: 0 !important;

						li {
						list-style: none !important;
						text-align: left;
						font-size: 11px;

							a {
							color:#292929;
							opacity: 0.8;
							letter-spacing: 2px;
							font-weight: 200;
								&:hover {
									color:#292929;
									text-decoration: none;
									opacity: 1;
								}
							}
						}
					}
					ul.socialfoot {
						li {
							text-decoration: none;
							display: inline-block;
							position: relative;
							top:16px;
							padding-right: 15px;
							
							a {
								color:$secondarycolor !important;
								font-size: 18px;
								opacity: 1;
								
								&:hover {
									color:$secondarycolor !important;
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.footer {
		height:40vh;
		margin-top: 0px;
		background-color: #FFFFFF;
		color:#292929;
		text-align: left !important;
		position: relative;



		.container {
			.row {
				position: absolute;
				z-index: 1;
				padding-top: 20px;
				width: 90%;

				.col-xs-6.col-sm-3 { 
						
					.logofooter {
						width: 110px;
						height: auto;
					}

					p {
						text-align: left !important;
						opacity: 0.9;
						font-size: 15px;
						font-weight: 200;
					}

					ul.foot {
						line-height: 30px;
						margin-left: 0 !important;

						li {
						list-style: none !important;
						text-align: left;
						font-size: 11px;

							a {
							color:#292929;
							opacity: 0.8;
							letter-spacing: 2px;
							font-weight: 200;
								&:hover {
									color:#292929;
									text-decoration: none;
									opacity: 1;
								}
							}
						}
					}
					ul.socialfoot {
						li {
							text-decoration: none;
							display: inline-block;
							position: relative;
							top:16px;
							padding-right: 15px;
							
							a {
								color:$secondarycolor !important;
								font-size: 18px;
								opacity: 1;
								
								&:hover {
									color:$secondarycolor !important;
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		}
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 

	.footer {
		height:40vh;
		margin-top: 0px;
		background-color: #FFFFFF;
		color:#292929;
		text-align: left !important;
		position: relative;



		.container {
			.row {
				position: absolute;
				z-index: 1;
				padding-top: 20px;
				width: 90%;

				.col-xs-6.col-sm-3 { 
						
					.logofooter {
						width: 110px;
						height: auto;
					}

					p {
						text-align: left !important;
						opacity: 0.9;
						font-size: 15px;
						font-weight: 200;
					}

					ul.foot {
						line-height: 30px;
						margin-left: 0 !important;

						li {
						list-style: none !important;
						text-align: left;
						font-size: 11px;

							a {
							color:#292929;
							opacity: 0.8;
							letter-spacing: 2px;
							font-weight: 200;
								&:hover {
									color:#292929;
									text-decoration: none;
									opacity: 1;
								}
							}
						}
					}
					ul.socialfoot {
						li {
							text-decoration: none;
							display: inline-block;
							position: relative;
							top:16px;
							padding-right: 15px;
							
							a {
								color:$secondarycolor !important;
								font-size: 18px;
								opacity: 1;
								
								&:hover {
									color:$secondarycolor !important;
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.footer {
		height:40vh;
		margin-top: 0px;
		background-color: #FFFFFF;
		color:#292929;
		text-align: left !important;
		position: relative;



		.container {
			.row {
				position: absolute;
				z-index: 1;
				padding-top: 20px;
				width: 90%;

				.col-xs-6.col-sm-3 { 
					display: block;
					float: left;
					margin-bottom: 40px;
					
					.logofooter {
						width: 110px;
						height: auto;
						margin-left: 40px;
					}

					p {
						text-align: left !important;
						opacity: 0.9;
						font-size: 15px;
						font-weight: 200;
					}

					ul.foot {
						line-height: 30px;
						margin-left: 0 !important;

						li {
						list-style: none !important;
						text-align: left;
						font-size: 11px;

							a {
							color:#292929;
							opacity: 0.8;
							letter-spacing: 2px;
							font-weight: 200;
								&:hover {
									color:#292929;
									text-decoration: none;
									opacity: 1;
								}
							}
						}
					}
					ul.socialfoot {
						li {
							text-decoration: none;
							display: inline-block;
							position: relative;
							top:16px;
							padding-right: 15px;
							
							a {
								color:$secondarycolor !important;
								font-size: 18px;
								opacity: 1;
								
								&:hover {
									color:$secondarycolor !important;
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.footer {
		height:40vh;
		margin-top: 0px;
		background-color: #FFFFFF;
		color:#292929;
		text-align: left !important;
		position: relative;



		.container {
			.row {
				position: absolute;
				z-index: 1;
				padding-top: 20px;
				width: 90%;

				.col-xs-6.col-sm-3 { 
					display: block;
					float: left;
					margin-bottom: 40px;

					.logofooter {
						width: 110px;
						height: auto;
						margin-left:40px;
					}

					p {
						text-align: left !important;
						opacity: 0.9;
						font-size: 15px;
						font-weight: 200;
					}

					ul.foot {
						line-height: 30px;
						margin-left: 0 !important;

						li {
						list-style: none !important;
						text-align: left;
						font-size: 11px;

							a {
							color:#292929;
							opacity: 0.8;
							letter-spacing: 2px;
							font-weight: 200;
								&:hover {
									color:#292929;
									text-decoration: none;
									opacity: 1;
								}
							}
						}
					}
					ul.socialfoot {
						display: none;
					}
				}
			}
		}
	}
}




