$primarycolor:#FFF;
$secondarycolor:#FFED00 ;
/* Large desktops and laptops */
@media (min-width: 1200px) {

	.footer {
		height:40vh;
		margin-top: 0px;
		background-color: #FFFFFF;
		color:#292929;
		text-align: left !important;
		position: relative;



		.container {
			.row {
				position: absolute;
				z-index: 1;
				padding-top: 20px;
				width: 90%;

				.col-xs-6.col-sm-3 { 
						
					.logofooter {
						width: 110px;
						height: auto;
					}

					p {
						text-align: left !important;
						opacity: 0.9;
						font-size: 15px;
						font-weight: 200;
					}

					ul.foot {
						line-height: 30px;
						margin-left: 0 !important;

						li {
						list-style: none !important;
						text-align: left;
						font-size: 11px;

							a {
							color:#292929;
							opacity: 0.8;
							letter-spacing: 2px;
							font-weight: 200;
								&:hover {
									color:#292929;
									text-decoration: none;
									opacity: 1;
								}
							}
						}
					}
					ul.socialfoot {
						li {
							text-decoration: none;
							display: inline-block;
							position: relative;
							top:16px;
							padding-right: 15px;
							
							a {
								color:$secondarycolor !important;
								font-size: 18px;
								opacity: 1;
								
								&:hover {
									color:$secondarycolor !important;
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.footer {
		height:60vh;
		margin-top: 60px;
		background-color: #F9F9F9;
		color:#292929;
		padding: 50px;
		text-align: left !important;
		position: relative;
	}

	.footer .row {
		position: absolute;
		margin-left: 0;
		margin-right: 0;
		z-index: 1;
		padding-top: 20px;
	}

	.footer .col-md-4 p {
		text-align: left !important;
		opacity: 0.9;
		font-weight: bolder;
		font-size: 11px;
	}


	.footer .container .row .col-md-4 ul.foot li {
		list-style: none !important;
		text-align: left;
		padding-left: 60px;
		font-size: 11px;
	}

	.footer .container .row .col-md-4 ul.foot li a {
		color:#292929;
		opacity: 0.8;
		letter-spacing: 2px;
		font-weight: 200;

	}

	.footer .container .row .col-md-4 ul.foot li a:hover {
		color:#292929;
		text-decoration: none;
		opacity: 1;
	}

	.footer .container .row .col-md-4 ul.foot {
		line-height: 30px;
	}
/* 
	.logofooter {
		position: absolute; 
		left:600px; 
		z-index: 0;
		top:-40px;
	}*/


	.subfooter .container hr {
		width:100% !important;
		position: relative;
		left:0;
		border: 1px solid #292929 !important;
	}

	.subfooter .container {
		position: absolute;
		top:220px !important;
		height: 50px;
	}

	.subfooter .container p {
		text-align: center !important;
		font-size: 12px;
		display: inline;
	}

	/* Button CTA du footer */
	.footer .col-md-4 p a {
		color:#292929  !important;
		border:2px solid #292929;
		margin-top: 20px;
		opacity: 0.8;
		background-color: transparent;
	}

	.footer .col-md-4 p a:hover {
		opacity: 1;
	}

	.footer .col-md-4 p a.btn {
		border-radius: 50px;
	}

	.footer .col-md-4 p a.btn {
		font-size: 12px !important;
		padding: 15px 35px;
	}

	.adresse h4 {
		text-align: center !important; 
	}


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) { 

	.footer {
		height:60vh;
		margin-top: 60px;
		background-color: #F9F9F9;
		color:#292929;
		padding: 50px;
		text-align: center !important;
		position: relative;
	}




	.footer .container .row .col-md-4 ul.foot li {
		display: none;
	}

/* 
	.logofooter {
		position: absolute; 
		left:600px; 
		z-index: 0;
		top:-40px;
	}*/


	.subfooter .container hr {
		width:100% !important;
		position: relative;
		left:0;
		border: 1px solid #292929 !important;
	}

	.subfooter .container {
		position: absolute;
		top:200px !important;
		height: 50px;
	}

	.subfooter .container p {
		text-align: center !important;
		font-size: 11px;
		display: inline;
	}

	/* Button CTA du footer */
	.footer .col-md-4 p a {
		color:#292929  !important;
		border:2px solid #292929;
		margin-top: 20px;
		opacity: 0.8;
		background-color: transparent;
	}


	.footer .col-md-4 p a.btn {
		border-radius: 50px;
	}

	.footer .col-md-4 p a.btn {
		font-size: 12px !important;
		padding: 15px 35px;
	}

	.adresse h4 {
		text-align: center !important; 
	}


}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.footer {
		height:60vh;
		margin-top: 60px;
		background-color: #F9F9F9;
		color:#292929;
		padding: 50px;
		text-align: center !important;
		position: relative;
	}


	.footer .container .row .col-md-4 p {
		font-size: 13px;
	}

	.footer .container .row .col-md-4 ul.foot li {
		display: none;
	}

/* 
	.logofooter {
		position: absolute; 
		left:600px; 
		z-index: 0;
		top:-40px;
	}*/


	.subfooter .container hr {
		width:100% !important;
		position: relative;
		left:0;
		border: 1px solid #292929 !important;
	}

	.subfooter .container {
		position: absolute;
		top:270px !important;
		height: 50px;
	}

	.subfooter .container p {
		text-align: center !important;
		font-size: 11px;
		display: inline;
	}

	/* Button CTA du footer */
	.footer .col-md-4 p a {
		color:#292929  !important;
		border:2px solid #292929;
		margin-top: 20px;
		opacity: 0.8;
		background-color: transparent;
	}


	.footer .col-md-4 p a.btn {
		border-radius: 50px;
	}

	.footer .col-md-4 p a.btn {
		font-size: 12px !important;
		padding: 15px 35px;
	}

	.adresse h4 {
		text-align: center !important; 
	}


}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}




