.mentionslegales {
	padding:20px 60px 20px 60px;

	.blocml {
		line-height: 30px;
		padding-top:20px;

		h1 {
			font-size: 20px;
		}

		h2 {
			font-size: 20px;
		}

		p {
			font-size: 13px;
		}
	}
}