$primarycolor:#FFF;
$secondarycolor:#FFED00 ;

/* Large desktops and laptops */
@media (min-width: 1200px) {


	/* Lien des boutons de navigation du menu*/
	nav.navbar.navbar-default {
		margin-bottom: 0px !important;
		background:transparent;
		position:absolute;
		top:20px;
		left:0;
		right:0;
		border:none;
		left:0px;

		#navbar {

			ul.nav {
				letter-spacing: 2px;
				margin-left:0;
				margin-right:0;
				padding-left:50px;
				padding-right:0;
				display: block;
				text-align: center;

				li {

					a {
						color:$primarycolor;
						opacity: 0.8;
						font-size: 12px;

						&:hover {
							color: $primarycolor;
							opacity: 1;
						}
					}
				}			
			}
		}	
	}

	.social {
		li {
			text-decoration: none;
			display: inline-block;
			position: relative;
			top:16px;
			padding-left: 15px;
			
			a {
				color:$secondarycolor !important;
				font-size: 18px;
				opacity: 1;
				
				&:hover {
					color:$secondarycolor !important;
					opacity: 0.8;
				}
			}
		}
	}


	/* Style du logo */
	nav.navbar .navbar-header a.navbar-brand img {
		height: auto;
		width: 200px;

	}



	/* Style si nom du site = texte */

	/*nav.navbar .navbar-header a.navbar-brand {
		color:$primarycolor;
		opacity: 0.8;
	}
		
	nav.navbar .navbar-header a.navbar-brand:hover {
		color:$primarycolor;
		opacity: 1;
	}*/

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	/* Lien des boutons de navigation du menu*/
	nav.navbar.navbar-default {
		margin-bottom: 0px !important;
		background:transparent;
		position:absolute;
		top:20px;
		left:0;
		right:0;
		border:none;
		left:50px;

		#navbar {

			ul.nav {
				letter-spacing: 2px;
				margin-left:0;
				margin-right:0;
				padding-left:150px;
				padding-right:0;
				display: block;
				text-align: center;

				li {

					a {
						color:$primarycolor !important;
						opacity: 0.8;
						font-size: 12px;

						&:hover {
							color: $primarycolor !important;
							opacity: 1;
						}
					}
				}			
			}
		}	
	}

	.social {
		display: none;
	}


	/* Style du logo */
	nav.navbar .navbar-header a.navbar-brand img {
		display: none;
	}
}



/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	/* Lien des boutons de navigation du menu*/
	nav.navbar.navbar-default {
		bottom: 0px !important;
		background:transparent;
		position:absolute;
		top:20px;
		left:0;
		right:0;
		border:none;


		#navbar {

			ul.nav {
				letter-spacing: 2px;
				margin-left:0;
				margin-right:0;
				padding-left:60px;
				padding-right:0;
				display: block;
				text-align: center;


				li {

					a {
						color:$primarycolor !important;
						opacity: 0.8;
						font-size: 12px;

						&:hover {
							color: $primarycolor !important;
							opacity: 1;
						}
					}
				}			
			}
		}	
	}

	.social {
		display: none;
	}


	/* Style du logo */
	nav.navbar .navbar-header a.navbar-brand img {
		display: none;
	}

}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	nav.navbar.navbar-default {
		margin:0;
		z-index: 1200;
		position: relative;
		right:0;
		background-color:#FFF !important;
		border-color:#FFF !important;

		.navbar-toggle {
	   		position: absolute;
	   		border:none !important;
	   		background: transparent !important;	 
	   		display: block;
	   		right:0;

	   		.icon-bar {
	  			transition: all 0.2s;
	  			width: 22px;
	  			display: block;
	  			z-index: 2000;
	  			border-color: #FFFFFF !important;
	  		}

	  		.top-bar {
				transform: rotate(45deg);
				transform-origin: 10% 10%;
	  		}

	  		.middle-bar {
	  			opacity:0;
	  		}

	  		.bottom-bar {
	  			transform: rotate(-45deg);
				transform-origin: 10% 90%;
	  		}	
   		}

	
		.navbar-collapse {
			background-color: #FFFFFF !important;
			position: fixed;
			margin:0 !important;
			width: 100%;
			text-align: center;
			left:0;
			box-shadow: 3px 11px 24px -11px rgba(0,0,0,0.3);
		}

		.navbar-header {
			width: 100%;
			margin: 0;

			a.navbar-brand img {
				display: none;
			}
		}

		.social {
			display: none;
		}


		.navbar-toggle.collapsed {

			.top-bar {
			    transform: rotate(0);
			}

			.middle-bar {
			    opacity: 1;
			}

			.bottom-bar {
			    transform: rotate(0);		
			}
		}
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	nav.navbar.navbar-default {
		margin:0;
		z-index: 1200;
		position: relative;
		right:0;
		background-color:#FFF !important;
		border-color:#FFF !important;
		width: 100%;

		.container {
			max-width: 100%;
				.navbar-toggle {
		   		position: absolute;
		   		border:none !important;
		   		background: transparent !important;	 
		   		display: block;
		   		right:0;

		   		.icon-bar {
		  			transition: all 0.2s;
		  			width: 22px;
		  			display: block;
		  			z-index: 2000;
		  			border-color: #FFFFFF !important;
		  		}

		  		.top-bar {
					transform: rotate(45deg);
					transform-origin: 10% 10%;
		  		}

		  		.middle-bar {
		  			opacity:0;
		  		}

		  		.bottom-bar {
		  			transform: rotate(-45deg);
					transform-origin: 10% 90%;
		  		}	
	   		}

		
			.navbar-collapse {
				background-color: #FFFFFF !important;
				position: fixed;
				margin:0 !important;
				width: 100%;
				text-align: center;
				left:0;
				box-shadow: 3px 11px 24px -11px rgba(0,0,0,0.3);
			}

			.navbar-header {
				width: 100%;
				margin: 0;
				a.navbar-brand img {
					display: none;
				}			
			}

			.social {
				display: none;
			}

			.navbar-toggle.collapsed {

				.top-bar {
				    transform: rotate(0);
				}

				.middle-bar {
				    opacity: 1;
				}

				.bottom-bar {
				    transform: rotate(0);		
				}
			}
		}
	}
}