$maincolor:#FFED00;

/* Large desktops and laptops */
@media (min-width: 1200px) {

	.projetshome {
	  	background-color: #FFFFFF; 	

	  	.container  {
		 	line-height: 30px;

		 	.col-md-6.pull-left {
				padding-top: 100px;
				padding-bottom: 200px;
			}

			.logoauthor {
				display: flex;
				align-items: center;
			    width: 100px;
			    height: 100px;
			    line-height: 20px;
			}

			h2 {
			 	color:#979797;
			 	font-weight: 100;
			}
		}

		a {
			color:#979797;
			background-color: $maincolor;
			border:none;
			bottom: 0px;
			position: relative;
			font-size: 14px;

			&:hover {
				background-color: $maincolor;
				color:#000;
			}
		}
		
		.btn {
			border-radius: 50px;
			margin-top: 20px;
			font-size: 12px !important;
			padding: 15px 35px;
		}	
	 }


	.testimonial {
		margin-top: 50px;

		.client {
			margin-top: 40px;
		}

		h5 {
			position: absolute;
			line-height: 40px;
			padding-left: 90px;
		} 
	}



	.left  {
	 	width:auto;
	 	height:60px; 
	 	border-radius: 100%;
	 }

	.author {
		float:left;
	}




	.projetshomeimg {
		width: auto;
		height: 600px;
		position: absolute;
		right:-50px;
		top:100px;
		/* margin-top: 80px;
		border: 1px solid #F2F2F2; */
	}



	.prerow {
		text-align: center;
		padding-top:50px;
		padding-bottom: 30px;
		line-height: 50px;

		h1 {
			font-size: 30px;
			font-weight: 100;
			color:#000;
		}

		p {
			font-size: 16px;
			color:#6f6f6f;
		}
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.projetshome {
	  	background-color: #FFFFFF; 	

	  	.container  {
		 	line-height: 30px;

		 	.col-md-6.pull-left {
				padding-top: 50px;
				padding-bottom: 80px;
			}

			.logoauthor {
				display: flex;
				align-items: center;
			    width: 100px;
			    height: 100px;
			    line-height: 20px;
			}

			h2 {
			 	color:#979797;
			 	font-weight: 100;
			}
		}

		a {
			color:#979797;
			background-color: $maincolor;
			border:none;
			bottom: 0px;
			position: relative;
			font-size: 14px;

			&:hover {
				background-color: $maincolor;
				color:#000;
			}
		}
		
		.btn {
			border-radius: 50px;
			margin-top: 20px;
			font-size: 12px !important;
			padding: 15px 35px;
		}	
	 }


	.testimonial {
		margin-top: 50px;

		.client {
			margin-top: 40px;
		}

		h5 {
			position: absolute;
			line-height: 40px;
			padding-left: 90px;
		} 
	}



	.left  {
	 	width:auto;
	 	height:60px; 
	 	border-radius: 100%;
	 }

	.author {
		float:left;
	}




	.projetshomeimg {
		width: auto;
		height: 500px;
		position: absolute;
		right:-45px;
		top:100px;
		/* margin-top: 80px;
		border: 1px solid #F2F2F2; */
	}



	.prerow {
		text-align: center;
		padding-top:50px;
		padding-bottom: 30px;
		line-height: 50px;

		h1 {
			font-size: 30px;
			font-weight: 100;
			color:#000;
		}

		p {
			font-size: 16px;
			color:#6f6f6f;
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.projetshome {
	  	background-color: #FFFFFF; 	

	  	.container  {
		 	line-height: 30px;

		 	.col-md-6.pull-left {
				padding-top: 20px;
				padding-bottom: 40px;
			}

			.logoauthor {
				display: flex;
				align-items: center;
			    width: 100px;
			    height: 100px;
			    line-height: 20px;
			}

			h2 {
			 	color: #979797;
			 	font-weight: lighter;
			}
		}

		a {
			color: #979797;
			background-color: $maincolor;
			border: none;
			bottom: 0px;
			position: relative;
			font-size: 14px;

			&:hover {
				background-color: $maincolor;
				color: #000;
			}
		}
		
		.btn {
			border-radius: 50px;
			margin-top: 20px;
			font-size: 12px !important;
			padding: 15px 35px 15px 35px;
		}	
	}


	.testimonial {
		margin-top: 50px;

		.client {
			margin-top: 40px;
		}

		h5 {
			position: absolute;
			line-height: 40px;
			padding-left: 90px;
		} 
	}



	.left  {
	 	width:auto;
	 	height:60px; 
	 	border-radius: 100%;
	}

	.author {
		float:left;
	}




	.projetshomeimg {
		display: none;
	}



	.prerow {
		text-align: center;
		padding-top:20px;
		padding-bottom: 20px;
		line-height: 50px;

		h1 {
			font-size: 30px;
			font-weight: 200;
			color:#000;
		}

		p {
			font-size: 16px;
			color: #6f6f6f;
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.projetshome {
	  	background-color: #FFFFFF; 	

	  	.container  {
		 	line-height: 30px;

		 	.col-md-6.pull-left {
				padding-top: 20px;
				padding-bottom: 40px;
			}

			.logoauthor {
				display: flex;
				align-items: center;
			    width: 100px;
			    height: 100px;
			    line-height: 20px;
			}

			h2 {
			 	color:#979797;
			 	font-weight: 200;
			}
		}

		a {
			color:#979797;
			background-color: $maincolor;
			border:none;
			bottom: 0px;
			position: relative;
			font-size: 14px;

			&:hover {
				background-color: $maincolor;
				color:#000;
			}
		}
		
		.btn {
			border-radius: 50px;
			margin-top: 20px;
			font-size: 12px !important;
			padding: 15px 35px;
		}	
	 }


	.testimonial {
		margin-top: 50px;

		.client {
			margin-top: 40px;
		}

		h5 {
			position: absolute;
			line-height: 40px;
			padding-left: 90px;
		} 
	}



	.left  {
	 	width:auto;
	 	height:60px; 
	 	border-radius: 100%;
	 }

	.author {
		float:left;
	}




	.projetshomeimg {
		display: none;
	}



	.prerow {
		text-align: center;
		padding-top:20px;
		padding-bottom: 20px;
		line-height: 50px;

		h1 {
			font-size: 30px;
			font-weight: 200;
			color:#000;
		}

		p {
			font-size: 16px;
			color:#6f6f6f;
		}
	}
	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.projetshome {
	  	background-color: #FFFFFF; 	

	  	.container  {
		 	line-height: 30px;

		 	.col-md-6.pull-left {
				padding-top: 20px;
				padding-bottom: 40px;
			}

			.logoauthor {
				display: flex;
				align-items: center;
			    width: 100px;
			    height: 100px;
			    line-height: 20px;
			}

			h2 {
			 	color:#979797;
			 	font-weight: 300;
			}
		}

		a {
			color:#979797;
			background-color: $maincolor;
			border:none;
			bottom: 0px;
			position: relative;
			font-size: 14px;

			&:hover {
				background-color: $maincolor;
				color:#000;
			}
		}
		
		.btn {
			border-radius: 50px;
			margin-top: 20px;
			font-size: 12px !important;
			padding: 15px 35px;
		}	
	 }


	.testimonial {
		margin-top: 50px;

		.client {
			margin-top: 40px;
		}

		h5 {
			position: absolute;
			line-height: 40px;
			padding-left: 90px;
		} 
	}



	.left  {
	 	width:auto;
	 	height:60px; 
	 	border-radius: 100%;
	 }

	.author {
		float:left;
	}




	.projetshomeimg {
		display: none;
	}



	.prerow {
		text-align: center;
		padding-top:20px;
		padding-bottom: 20px;
		line-height: 30px;

		h1 {
			font-size: 25px;
			font-weight: 300;
			color:#000;
		}

		p {
			font-size: 15px;
			color:#6f6f6f;
			padding:0 10px 0 10px;
		}
	}
}

