$primarycolor:#1F98FF;
$secondarycolor:#979797;

/* Large desktops and laptops */
@media (min-width: 1200px) {

	.rowhome {
		.row {
			text-align: center;
			padding-bottom: 50px;
			padding-top: 50px;
			background-color: #FFFFFF;

			.col-md-4 {

				h2 {
					line-height: 60px !important;
					color:$secondarycolor;
					font-size: 22px;
					font-weight: lighter;
					letter-spacing: 2px;
				}

				.logocustomers {
					display: inline-block;
					float: none;
					position: relative;
					width: 80px;
				}
			}
		}
	}
}






/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.rowhome {
		.row {
			text-align: center;
			padding-bottom: 50px;
			padding-top: 50px;
			background-color: #FFFFFF;

			.col-md-4 {

				h2 {
					line-height: 60px !important;
					color:$secondarycolor;
					font-size: 22px;
					font-weight: lighter;
					letter-spacing: 2px;
				}

				.logocustomers {
					display: inline-block;
					float: none;
					position: relative;
					width: 80px;
				}
			}
		}
	}

}






/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.rowhome {
		.row {
			text-align: center;
			padding-bottom: 20px;
			padding-top: 20px;
			background-color: #FFFFFF;

			.col-md-4 {

				h2 {
					line-height: 60px !important;
					color:$secondarycolor;
					font-size: 22px;
					font-weight: lighter;
					letter-spacing: 2px;
				}

				.logocustomers {
					display: inline-block;
					float: none;
					position: relative;
					width: 80px;
				}
			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	.rowhome {
		.row {
			text-align: center;
			padding-bottom: 50px;
			padding-top: 50px;
			background-color: #FFFFFF;

			.col-md-4 {

				h2 {
					line-height: 60px !important;
					color:$secondarycolor;
					font-size: 22px;
					font-weight: lighter;
					letter-spacing: 2px;
				}

				.logocustomers {
					display: inline-block;
					float: none;
					position: relative;
					width: 80px;
				}
			}
		}
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}