$maincolor:#FFED00;

/* Large desktops and laptops */
@media (min-width: 1200px) {

	.methodesux {
		.row  {
			padding-bottom: 50px;
			padding-top: 30px;
			margin-top: 30px;

			.col-md-4 {
				padding-left:35px;
				padding-right:35px;
				text-align: center;

				h2 {
					font-size: 18px;
					font-weight: 300;
					line-height: 60px !important;
				}

				p {
					line-height: 25px !important;
				}
			}
		}
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.methodesux {
		.row  {
			padding-bottom: 50px;
			padding-top: 30px;
			margin-top: 30px;

			.col-md-4 {
				padding-left:35px;
				padding-right:35px;
				text-align: center;

				h2 {
					font-size: 18px;
					font-weight: 300;
					line-height: 60px !important;
				}

				p {
					line-height: 25px !important;
				}
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.methodesux {
		.row  {
			padding-bottom: 50px;
			padding-top: 30px;
			margin-top: 30px;

			.col-md-4 {
				padding-left:35px;
				padding-right:35px;
				text-align: center;

				h2 {
					font-size: 18px;
					font-weight: 300;
					line-height: 60px !important;
				}

				p {
					line-height: 25px !important;
				}

			}
		}
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) { 

	.methodesux {
		.row  {
			padding-bottom: 50px;
			padding-top: 30px;
			margin-top: 30px;

			.col-md-4 {
				padding-left:35px;
				padding-right:35px;
				text-align: center;

				h2 {
					font-size: 18px;
					font-weight: 300;
					line-height: 60px !important;
				}

				p {
					line-height: 25px !important;
				}
			}
		}
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}


